<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>About Us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/css/aboutUs.css" rel="stylesheet" type="text/css" />
  <!--<script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>-->
</head>
<body>
<div th:replace="~{header :: body}"></div>
<section>
  <div class = "image">
    <img src="/static/images/stroymaterial.png" alt=""/>
  </div>

  <div class = "content">
    <h2>О нас</h2>
    <span><!-- line here --></span>

    <p>Работаем с вами уже 3 года!</p>
    <p>Более 500 видов товаров!</p>

    <ul class = "links">
      <li><a href = "#">Наше предложение</a></li>

      <div class = "vertical-line"></div>

      <li><a href = "#">Контакты</a></li>

      <div class = "vertical-line"></div>

      <li><a href = "#">Более 500 товаров</a></li>
    </ul>

    <ul class = "icons">
      <li>
        <i class = "fa "></i>
      </li>
      <li>
        <i class = "fa "></i>
      </li>
      <li>
        <i class = "fa "></i>
      </li>
      <li>
        <i class = "fa "></i>
      </li>
    </ul>
  </div>
</section>

</body>
</html>