<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Goods Catalog</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
<div th:replace="header :: body"></div>
<div class="content">
  <h1>List of Goods</h1>
  <ul>
    <li th:each="goods : ${allGoods}">
      <span th:text="${goods.productName}"></span>,
      <span th:text="${goods.description}"></span>,
      <span th:text="${goods.availableQuantity}"></span>,
      <img th:src="@{${'/static/images/' + goods.imageFilename}}" alt="Your Image">
    </li>
  </ul>
  <hr/>
</div>
</body>
</html>