<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Header</title>
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/script.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: [
                    "Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"
                ]
            }
        });
    </script>
</head>
<body>
<div th:replace="~{header :: body}"></div>
<div class="section cc-store-home-wrap">
    <div class="container">
        <div class="w-row">
            <div class="w-col w-col-4">
                <nav>
                    <ul>
                        <li><a href="/goods/catalog/1">Отделочные материалы</a>
                            <ul class="submenu">
                                <li><a href="#">Краски</a></li>
                                <li><a href="#">Штукатурка</a></li>
                                <li><a href="#">Грунтовка</a></li>
                                <li><a href="#">Лаки</a></li>
                            </ul>
                        </li>
                        <li><a href="/goods/catalog/2">Стройматериалы</a>
                            <ul class="submenu">
                                <li><a href="#">Крепежи</a></li>
                                <li><a href="#">Цемент</a></li>
                                <li><a href="#">Пены, герметики, клеи</a></li>
                            </ul>
                        </li>
                        <li><a href="/goods/catalog/3">Инструменты и оборудование</a>
                            <ul class="submenu">
                                <li><a href="#">Перчатки</a></li>
                                <li><a href="#">Очки строительные</a></li>
                                <li><a href="#">Кисти</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="w-col w-col-8">
                <div class="w-layout-grid grid-3">
                    <a href="/goods/catalog/1" class="div-block image-container">
                        <img src="/static/images/otdelochn.png" loading="lazy" alt="" class="image" />
                        <p class="paragraph">
                            <span><strong>Отделочные материалы</strong></span>
                        </p>
                    </a>
                    <a href="/goods/catalog/2" class="div-block image-container">
                        <img src="/static/images/stroymaterial.png" loading="lazy" alt="" class="image" />
                        <p class="paragraph">
                            <span class="text-span"><strong>Стройматериалы</strong></span>
                        </p>
                    </a>
                    <a href="/goods/catalog/3" class="div-block image-container">
                        <img src="/static/images/instrument.png" loading="lazy" alt="" class="image" />
                        <p class="paragraph">
                            <span><strong>Инструменты и оборудование</strong></span>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{footer :: body}"></div>
<script>
    const submenus = document.querySelectorAll(".submenu");

    // Добавляем обработчик клика к родительским пунктам меню
    submenus.forEach(submenu => {
        const parentMenuItem = submenu.closest("li");
        const parentLink = parentMenuItem.querySelector("a");

        parentLink.addEventListener("click", (e) => {
            e.preventDefault(); // Отменяем стандартное поведение ссылки
            submenu.classList.toggle("active"); // Переключаем класс для отображения/скрытия подменю
        });
    });
</script>

</body>
</html>
